*#
*.*~
*.bak
*.docx
*.gz
*.inf
*.iss
*.log
*.lst
*.map
*.map
*.prefs
*.pyc
*.rel
*.s1p
*.sym
*.txt
*.zip
*~
/build
/commit
/cycfx2prog.exe
/Data
/dist
/inpout32.dll
/logdict2.6.6.final.0-1.log
/MSA_Info
/MSAPy.exe
/MSAPy_app_icon128.png
/MSAPy_icon128.ico
/libusb-win32-bin-1.2.6.0/
/Output
/Save
/usbpar.asm
/usbpar.lk
/usbpar.mem
/usbpar.rel
/usbpar.rst
/usbpar1.c
/usbpar-old.ihx
/zip.sh
.project
.pydevproject